<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd"
	        >

	 <bean id="jRedis" class="com.skylinematrix.jredis.JRedisFactory" factory-method="createJRedis">
		<constructor-arg index="0" value="${redis_masters_url}" />
		<constructor-arg index="1" value="${redis_slaves_url}" />
	</bean>
	
	<!-- 
	<bean id="jRedisReader" class="com.why.jredis.JRedisFactory" factory-method="createJRedis">
		<constructor-arg index="0" value="${redis_reader_masters_url}" />
		<constructor-arg index="1" value="${redis_reader_slaves_url}" />
	</bean>
	 -->
	 
	<bean id="webSocketConfig" class="com.whg.websocket.server.WebSocketConfig">
	  <constructor-arg index="0" value="${tcp.port}"/>
	  <constructor-arg index="1" value="${so.keepalive}"/>
	  <constructor-arg index="2" value="${so.backlog}"/>
	  <constructor-arg index="3" value="${boss.count}"/>
	  <constructor-arg index="4" value="${worker.count}"/>
	</bean>
	
	<bean id="poolConfig" class="com.whg.websocket.server.framework.thread.PoolConfig">
	  <constructor-arg index="0" value="${global.thread.name}"/>
	  <constructor-arg index="1" value="${global.thread.poolNum}"/>
	  <constructor-arg index="2" value="${global.thread.minThreadNum}"/>
	  <constructor-arg index="3" value="${global.thread.maxThreadNum}"/>
	  <constructor-arg index="4" value="${global.thread.queueTaskNum}"/>
	</bean>
	
	<bean id="globalThreadPool" class="com.whg.websocket.server.framework.thread.impl.GlobalThreadPool">
	  <constructor-arg index="0" ref="poolConfig"/>
	</bean>

</beans>
